* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

nav {
  height: 8vh;
}

.container-InitialQuestion {
  min-height: 92vh
}

.container-new-cost {
  padding: .5em
}

@media (min-width: 767.98px) {
  .container-new-cost {
    padding: 2em
  }
  .result {
    height: 92vh;
  }
  .list-expenditures {
    height: 515px;
    overflow: auto;
  }
  .title-expenditure {
    padding-top: 3rem
  }
}